html {
    font-size: 16px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: orange;
}

a:hover, a:active {
    color: darkorange;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card-img-bottom {
    height: 10em;
    object-fit: cover;
}

.navbar-brand a {
    text-decoration: none;
}

//#siteTitle a {
//    color: #fff;
//    text-decoration: none;
//}

article a {
    text-decoration: underline;
}

//.websiteLink a {
//    text-decoration: underline;
//}
