// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'roboto', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.2;

// Theme colors
$theme-colors: (
        "primary": #5C22A1,
        "secondary": #757407,
        "light-primary": #9F88BB,
        "medium-primary": #734CA1,
        "light-secondary": #ABAB7F,
        "medium-secondary": #9E9D42
);

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
